:root {
    --primary-background: rgb(248, 245, 245);
    --secondary-color: rgb(49, 49, 237);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: var(--primary-background);
}

header {
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    background-color: var(--primary-background);
    padding-top: 2vh;
    padding-bottom: 5vh;  
    border-bottom: 2px solid black;
}

nav {
display: flex;
min-width: 20vw;
justify-content: space-evenly;
    float: right;
    padding-top: 3vh;
    
}

header nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    padding-right: 2vw;
    text-decoration: underline;
    padding-top: 1.5vw;
    
}

header nav a:hover {
    color: var(--secondary-color)
}

header nav a:active {
    text-decoration: line-through;
}

.site-title :hover {
color: var(--secondary-color)
}

header a {
    padding-top: 2vh;
    padding-left: 1vw;
    color: black;
    float: left;
    font-size: 3em;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

p1 {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
}

 p2 {
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.03em;
    padding-bottom: 3%;
}

a {
    text-decoration: none;
    font-style: italic;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: var(--secondary-color);
    padding-top: 6%;
}

main {
    display: inline-flex;
    max-width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8%;
}

main p2 {
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.03em;
    padding-bottom: 3%;
    text-align: center;
}


section4 {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

section4 p2 {
    padding-top: 0.5%;
    max-width: 70vw;
}


section4 img {
    max-width: 40vw;
    padding-bottom: 7%;
}

footer {
    display: flex;
    max-width: 100vw;
    padding-top: 1%;
    padding-left: 1vw;
    padding-right: 1vw;
justify-content: space-between;
border-top: 2px solid black;

}

section3 {
    display: flex;
    max-width: 30vw;
    flex-wrap: wrap;

}

section3 p2 {
    text-align: left;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.03em;
}

section3 p3 {
    padding-top: 7%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    padding-bottom: 5%;
}

/* Styling for Phone */
@media screen and (max-width:576px) and (min-width:0px) {
    
    header {
        display: flex;
        max-width: 576px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        nav {
            display: inline-flex;
            max-width: 576px;
        justify-content: space-evenly;
        padding-top: 3vh;
        }
    
        header a {
            padding-top: 2vh;
            color: black;
            font-size: 3em;
            font-weight: 600;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: none;
        }
    
        header nav a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8em;
            font-weight: 400;
        }

    main {
        display: inline-flex;
        max-width: 576px;
        justify-content: center;
        flex-wrap: wrap;
    }
    main p2 {
        font-size: 0.8em;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
        padding-bottom: 5%;
        text-align: center;
    }

    section4 {
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        max-width: 576px;
        justify-content: space-evenly;
        align-items: center;
    }
    

    footer {
        display: inline-flex;
        position: center;
        min-width: 0px;
    max-width: 576px;
        padding-top: 2%;
    justify-content: center;
    border-top: 2px solid black;
    }

    section3 {
        display: flex;
        max-width: 50%;
        justify-content: center;
    }
    
    section3 p2 {
        text-align: center;
        font-size: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
    }
    
    section3 p3 {
        padding-top: 7%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 600;
        padding-bottom: 5%;
    }

}

/* Styling for Tablet */
@media screen and (max-width:768px) and (min-width:577px) {
    
    header {
        display: flex;
        max-width: 768px;
        justify-content: space-between;
        background-color: var(--primary-background);
        padding-top: 2vh;
        border-bottom: 2px solid black;
    }
    
    nav {
    display: flex;
    min-width: 20%;
    justify-content: space-evenly;
        float: right;
        padding-top: 3vh;
    }

header nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}


    main {
        display: inline-flex;
        max-width: 768px;
        justify-content: center;
        flex-wrap: wrap;
    }

    main p2 {
        font-size: 0.7em;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
        padding-bottom: 5%;
        text-align: center;
    }
    

    footer {
        display: flex;
        float: left;
        max-width: 768px;
        padding-top: 2%;
        padding-left: 1vw;
        padding-right: 1vw;
    justify-content: space-between;
    border-top: 2px solid black;
    
    }

    section3 {
        display: flex;
        max-width: 40%;
    }
    
    section3 p2 {
        text-align: left;
        font-size: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
    }
    
    section3 p3 {
        padding-top: 7%;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 600;
        padding-bottom: 5%;
    }
}

/* Styling for laptop and desktop */
@media screen and (max-width:992px) and (min-width:768px) {
    
    header {
        display: flex;
        max-width: 992px;
        justify-content: space-between;
        background-color: var(--primary-background);
        padding-top: 2vh;
        border-bottom: 2px solid black;
    }
    
    nav {
    display: flex;
    min-width: 20%;
    justify-content: space-evenly;
        float: right;
        padding-top: 3vh;
    }

header nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}
    
    main {
        display: inline-flex;
        max-width: 992px;
        justify-content: center;
        flex-wrap: wrap;
    }

    main p2 {
        font-size: 0.8em;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
        padding-bottom: 5%;
        text-align: center;
    }


    footer {
        display: flex;
        max-width: 992px;
        padding-top: 2%;
        padding-left: 1vw;
        padding-right: 1vw;
    justify-content: space-between;
    border-top: 2px solid black;
    
    }

    section3 {
        display: flex;
        max-width: 30%;
        justify-items: space-between;
    }
    
    section3 p2 {
        text-align: left;
        font-size: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        letter-spacing: 0.03em;
    }
    
    section3 p3 {
        padding-top: 7%;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 0.02em;
        padding-bottom: 5%;
    }
}


